/* Login */
.loginBox {
  max-width:  90%;
  width: 400px
}

.stretch input  {
  width: 100%
}

#login-error {
  display: none;
}

/* Home */
.collapsible-item .title {
  background-color: #03a9f4;
  background-image: none;
  color: #FFFFFF;
  border-radius: 0px;
}

.product_type_item {
  cursor: pointer;
}

.product-list-item {
  line-height: 30px;
  margin-left: 20px;
  cursor: pointer;
}